<!DOCTYPE html>
<html lang="en">
<head><% include partials/pages/head.ejs %>
    <% include partials/pages/jsdefaults.ejs %></head>

<% include partials/pages/header.ejs %>

<body>
<h2>Calculator With Bootstrap</h2>
<div class="container">
    <div style="border: 2px solid black; width: 14.3%;  border-radius: 5px; padding: 5px ; background-color: #adadad">
    <div  id="display"
          style="height: 50px;
          width: 100%;
          border: solid 2px ;
          margin-top: 3px;
          padding:3px;
          font-size:20px;
          border-radius: 5px;
          background-color: white;
          color:black"></div>
    <button type="button" class="btn btn-primary" style="margin-top: 3px" onclick="assign('9')">9</button>
    <button type="button" class="btn btn-primary" style="margin-top: 3px" onclick="assign('8')">8</button>
    <button type="button" class="btn btn-primary" style="margin-top: 3px" onclick="assign('7')">7</button>
    <button type="button" class="btn btn-warning" style="margin-top: 3px" onclick=" clearabc('C')">c</button>


    <br>
    <button type="button" class="btn btn-primary" style="margin-top: 3px" onclick="assign('6')">6</button>
    <button type="button" class="btn btn-primary" style="margin-top: 3px" onclick="assign('5')">5</button>
    <button type="button" class="btn btn-primary" style="margin-top: 3px" onclick="assign('4')">4</button>
    <button type="button" class="btn btn-default" style="margin-top: 3px" onclick=" operator('*')">*</button>

    <br>
    <button type="button" class="btn btn-primary" style="margin-top: 3px" onclick="assign('3')">3</button>
    <button type="button" class="btn btn-primary" style="margin-top: 3px" onclick="assign('2')">2</button>
    <button type="button" class="btn btn-primary" style="margin-top: 3px" onclick="assign('1')">1</button>
    <button type="button" class="btn btn-default" style="margin-top: 3px" onclick=" operator('-')">-</button>

    <br>
    <button type="button" class="btn btn-default" style="margin-top: 3px" onclick=" is_equal()">=</button>
    <button type="button" class="btn btn-primary" style="margin-top: 3px" onclick="assign('0')">0</button>
    <button type="button" class="btn btn-default" style="margin-top: 3px" onclick=" operator('+')">+</button>
    <button type="button" class="btn btn-default" style="margin-top: 3px" onclick=" operator('/')">/</button>
    </div>
    </div>

<script type="text/javascript">

    var value1 , value2, varSign, display;
    display=document.getElementById('display');



    function is_equal(){

        value1=parseInt(value1);
        value2=parseInt(value2);


        if(varSign=='+'){
            value1+=value2;
            display.innerHTML=value1;
        }
        else if(varSign=='-'){
            value1-=value2;
            display.innerHTML=value1;
        }
        else if(varSign=='*'){
            value1*=value2;
            display.innerHTML=value1;
        }
        else if(varSign=='/'){
            value1/=value2;
            display.innerHTML=value1;
        }

    }


    function clearabc(){
        value1=undefined;
        value2=undefined;
        varSign=undefined;
        display.innerHTML='O';

    }

    function assign(val){
        if (varSign==undefined){
            if(value1== undefined){
                value1=val;
            }
            else {
                value1+=val;
            }
            display.innerHTML=value1;
        }

        else {

            if(value2== undefined){
                value2=val;
            }
            else {
                value2+=val;
            }
            display.innerHTML=value2;
        }

    }

    function operator(sign){
        varSign=sign;
        display.innerHTML=varSign;

    }



</script>

<% include partials/pages/footer.ejs %>


</body>
</html>




